.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  max-width: calc(100vw - 60px);
  max-height: calc(100vw - 60px);
}
