.square {
  width: 14.2857%;
  height: 14.2857%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:nth-child(odd) {
  background-color: #d18b47;
}

.square:nth-child(even) {
  background-color: #ffce9e;
}